#------------------------------------------------------------------------------
#
#	Git ignore file
#
#------------------------------------------------------------------------------

CMakeLists.txt.user
CMakeLists.txt.user.*
build
archive

#---fin------------------------------------------------------------------------
